.topheader{
    /* position:fixed;
    z-index: 999; */
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    background: #ff4f81;
    padding: .5em 1em;    
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    transition: all .3s ease-in-out;  
}
a:hover{
cursor:pointer;
}
.topHeaderLeft>ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
   flex-wrap: wrap;    
}
.topHeaderLeft ul>li{
    display: inline-block;
    color: #fff;
    font-size:  14px;
}
.topHeaderLeft>ul>li>a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
}
.topHeaderLeft>ul i{
    color: #fff;
}
.topHeaderLeft>ul>li>a:hover { 
    color: #000;
} 
.social_icons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.social_icons>a> i  { 
     font-size: 15px; 
    background: #333; 
    padding: 8px 10px; 
    color: #fff; 
    border: 1px solid #333; 
    transition: 0.5s all; 
    -webkit-transition: 0.5s all; 
    -o-transition: 0.5s all; 
    -ms-transition: 0.5s all; 
    -moz-transition: 0.5s all;
}
@media(max-width:992px){
.topheader{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    transition: all .3s ease-in-out;

}
.topHeaderLeft ul>li{
    display: inline-block;
    color: #fff;
    font-size:  12px;
}
.social_icons>a> i{
    font-size: 12px;
    padding: 6px 8px;
}
} 

@media(max-width:540px){    
    .topheader>{        
        transition: all .3s ease;
    }
    .social_icons>a> i{
        font-size: 8px;
        padding: 6px 8px;
    }
    .topHeaderLeft ul>li{
        display: inline-block;
        color: #fff;
        font-size:  8px;
    }
}
@media(max-width:360px){
    .topheader{        
        transition: all .3s ease;
    }
    .social_icons>a> i{
        font-size: 8px;
        padding: 4px 6px;
    }
}